<div id="modalModificar" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <center>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificación</h5>
        </div>
        <div class="modal-">
          <form method="POST" action="/modificarProductos">
             <input id="acheProduxc" name="acheProduxc" type="hidden" class="form-control">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Producto:</label>
              <input id="nomcliaxProd" name="nomcliaxProd" type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Stock:</label>
              <input id="stockcliar" name="stockcliar" type="text" class="form-control">
            </div>
            
            <div class="row">
            <div class="col">
              <label for="message-text" class="col-form-label">Precio:</label>
              <input id="preciocliack" name="preciocliack" type="number" class="form-control">
            </div>
            </div>

            <div class="col">
              <label for="message-text" style="color: black;" class="col-form-label">Moneda:</label>
              <select  id= "MonedaM" name="MonedaM" class="form-select" aria-label="Default select example">
                <option selected value="AR$">AR$</option>
                <option value="BTC">Bitcoins</option>
                <option value="U$D">Dólares</option>
                <option value="€">Euros</option>
              </select>
            </div>
            