<div class="modal-footer">
    <button type="submit" name="modific" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>Modificar!</button>
    </div>
    
  </form>
</div>
<div class="modal-footer">
</center>
</div>
</div>
</div>
</div>