</div>
<div class="modal-footer">

<button type="submit" name="agregar" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>Cargar!</button>
</div>
</form>
</center>
</div>
</div>
</div>
