img:hover {
    cursor: pointer;
  }

.classtainerxing:hover{
  z-index: 10;
  width: 265px;
  height: 265px;
  cursor: pointer;
  position:relative;
  background-color: whitesmoke;
  left: -2px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}
.classtainerxing{
  background-color: #6c757d;
}
body {
  background: rgb(2,0,36);
  background: linear-gradient(157deg, rgba(2,0,36,1) 0%, rgba(121,9,43,1) 97%, rgba(0,0,0,1) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-light{
  background: rgb(2,0,36);
  background: linear-gradient(157deg, rgba(2,0,36,1) 0%, rgba(15,9,11,1) 97%, rgba(0,0,0,1) 100%);
}