<meta charset="utf-8">
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <form action="/ABMClientes" method="get" >
    <li><a class="cargaramb11 dropdown-item" href="#">Cargar clientes</a></li>
    <button  type="submit" id="entraralabmcli11" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </form>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
</ul>
<form action="/Cerrarsesion" method="get">
    <div class="border border-danger rounded mr-1" style="text-align: right; right :10px "> 
    <a class="rektget nav-link active"  style="color:white; cursor:pointer;"  aria-current="page">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesión
    </a>
    <button  type="submit" id="btncerrses" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</form>  
<div class="dropdown-menu" id="imageDropdown1" aria-labelledby="imageDropdown">
    <a class="dropdown-item" style="cursor:pointer;" onclick="window.location.href='cambiar_perfil.php'">Editar perfil</a>
    <a class="dropdown-item" href="cerrar_sesion.php">Cerrar sesión</a>
</div>

</ul>
</div>
</div>
</nav>
</head>
<body style="background-color:#0a0a0a;">



<script>
$(".rektget").click(function() {
document.getElementById('btncerrses').click();
});

$(".ads213").click(function() {
document.getElementById('mydsapd123').click();
console.log("xD")
});

$(".recargar1").click(function() {
document.getElementById('recargarbtn1').click();
});
$(".recargar11").click(function() {
document.getElementById('recargarbtn11').click();
});
$(".cargaramb11").click(function() {
document.getElementById('entraralabmcli11').click();
});

</script>





<style>
.masterjus{
visibility: hidden;
}
</style>