<link rel="icon" type="image/png" href="https://www.shareicon.net/data/256x256/2016/04/12/748310_law_512x512.png" />
<meta charset="utf-8">
<head> 
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <form action="/" method="get" >

            <div class="border border-danger rounded" style="text-align: right;">
            <a class="recargar navbar-brand"  style="color:white; cursor:pointer;padding-left:10px;" >Justice shop</a>
            <button  type="submit" id="recargarbtn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </form>
        <form class='d-flex' style='position:absolute; top:10px; right:30%;' method='POST' action='/buscadorprodindex'>
            <input class='form-control me-2' name='buskedaprodindex' type='search' placeholder='Buscar' aria-label='Search'>
            <button class='btn btn-outline-danger' type='submit'>Buscar</button>
          </form>
          </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <form action="/" method="get">
            <div class="border border-danger rounded mr-1" style="text-align: right; right :10px "> 
            <a class="recargar1 nav-link active"  style="color:white; cursor:pointer;"  aria-current="page"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Inicio</a>
            <button  type="submit" id="recargarbtn1" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        </form>
           
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <form action="/login" method="get">
                <div class="border border-danger rounded" style="text-align: right;">
                <a class="login1 nav-link active"  style="color:white; cursor:pointer;"  aria-current="page">
                    <i class="fa fa-user" aria-hidden="true"></i> Iniciar sesión
                </a>
                <button  type="submit" id="loginbtn1" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            </form>
            <form action="/loginSU" method="get" style="right: 0;">
                <div class="border border-danger rounded mr-1" style="text-align: right; right :10px ">
                <a class="loginSU1 nav-link active"  style="color:white; cursor:pointer;"  aria-current="page">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Registrarse</a>
                <button  type="submit" id="loginSUbtn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
            </form>
        </ul>
        </div>
    </div>
    </nav>
</head>
<body></body>

</body>