<meta charset="utf-8">
<link rel="icon" type="image/png" href="https://www.shareicon.net/data/256x256/2016/04/12/748310_law_512x512.png" />
<div id="modalCargarClientes" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <center>
      <div class="modal-header">
        <label class="modal-title" style="color: black;"  id="exampleModalLabel">Carga de clientes</label>
      </div>
      <div class="modal-">
        <form method="POST" action="/cargarclienteaccion">
          <div class="mb-3">
            <label for="recipient-name" style="color: black;"  class="col-form-label">Nombre de cliente:</label>
            <input id= "nombreclia"  name="nombreclia" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="message-text" style="color: black;"  class="col-form-label">Dirección:</label>
            <input id= "direccionclia"  name="direccionclia" type="text" class="form-control">
          </div>
          
          <div class="row">
          <div class="col">
            <label for="message-text" style="color: black;" class="col-form-label">Teléfono:</label>
            <input id= "telefonoclia" name="telefonoclia" type="text" class="form-control">
          </div>
          </div>
        
      </div>
      <div class="modal-footer">

      <button type="submit" name="agregar" onclick= "window.location.href='index.html'" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>Cargar!</button>
      </div>
      </form>
    </center>
    </div>
  </div>
</div>
